<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coupon N Discount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      .menu-container.container.is-fluid{
        margin-right: 0;
        margin-left: 0;
      }
      .dropdown-menu {
        max-width: none;
        width: 500px;
      }

      #top-menu{
        height:2rem;
        min-height: 2rem;
      }
      .custom-dropdown.navbar-dropdown.is-boxed{
        background-color: rgba(51, 51, 51, 0.63);
        border-radius: 0;
      }
      .custom-dropdown-item.navbar-item{
        color:white;
      }
      .navbar-share-icon{
        color:gray;
      }
      .country-image{
        width:2rem;
        margin-right:.6rem;
      }
      .custom-navbar{
        padding-right:1rem;
        padding-left: 1rem;
      }
      .full-width-searchbar{
        width:100%;
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>

  <body>
    <header id="header" class="header" v-on:scroll="handleScroll()">
      <div class="container is-fluid menu-container">
        <nav class="navbar is-transparent is-mobile" id="top-menu">
            <div class="navbar-menu">
              <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-size-7 has-text-primary custom-navbar-item" href="/documentation/overview/start/">
                    Choose Platform
                  </a>
                  <div class="navbar-dropdown is-boxed custom-dropdown">
                    <div v-for="(country, index) in countries">
                      <a class="navbar-item  is-size-7 custom-dropdown-item">
                        <span>
                          <figure class="image is-2by1 country-image">
                            <img :src="country.image">
                          </figure>
                        </span>
                        {{country.name}}
                      </a>
                      <hr class="navbar-divider" v-if="index!=countries.length-1">
                    </div>
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link has-text-primary is-size-7 custom-navbar-item" href="/documentation/overview/start/">
                    Brand Deal
                  </a>
                  <div class="navbar-dropdown is-boxed custom-dropdown">
                    <div  v-for="brand in brands">
                      <a class="navbar-item is-size-7 custom-dropdown-item" href="/documentation/overview/start/">
                        {{brand}}
                      </a>
                      <hr class="navbar-divider">
                    </div>
                    <a class="navbar-item custom-dropdown-item-all has-text-weight-bold has-text-primary is-size-7" href="https://bulma.io/documentation/layout/container/">
                      View All
                    </a>
                  </div>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link has-text-primary is-size-7 custom-navbar-item" href="/documentation/overview/start/">
                    Download App
                  </a>
                  <div class="navbar-dropdown is-boxed custom-dropdown">
                    <a class="navbar-item  is-size-7 custom-dropdown-item">
                      <span>
                        <figure class="image is-2by1 country-image">
                          <img src="../static/images/icons/android.png">
                        </figure>
                      </span>
                      Android
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item  is-size-7 custom-dropdown-item">
                      <span>
                        <figure class="image is-2by1 country-image">
                          <img src="../static/images/icons/apple.png">
                        </figure>
                      </span>
                      iOS
                    </a>
                  </div>
                </div>
                <div class="navbar-item  is-size-7">
                  <span class="icon navbar-share-icon">
                    <i class="fa fa-facebook"></i>
                  </span>
                  <span class="icon navbar-share-icon">
                    <i class="fa fa-twitter"></i>
                  </span>
                  <span class="icon navbar-share-icon">
                    <i class="fa fa-envelope-o"></i>
                  </span>
                  <span class="icon navbar-share-icon">
                    <i class="fa fa-pinterest"></i>
                  </span>
                  <span class="icon navbar-share-icon">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </div>
              </div>
            </div>
        </nav>
      </div>
      <div class="container is-fluid menu-container">
        <!-- START NAV -->
        <nav class="navbar is-light custom-navbar" id="sticky">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'products:index' %}">
                <img src="../static/images/logo.png">
              </a>
              <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <!--
          Using the v-bind: directive to reactively update the class attribute 'is-active' based on the showNav property.
          -->
            <div class="navbar-menu" :class="{ 'is-active': showNav }">
              <div class="navbar-start">
                <div class="navbar-item">
                  <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <button class="button is-dark" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>Categories</span>
                        <span class="icon is-small has-text-danger">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content custom-dropdown">
                        <div class="dropdown-item">
                          <!-- <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p> -->
                          <div class="columns">
                            <div class="column">
                              <p>Art & Craft</p>
                              <p>Automotive</p>
                              <p>Baby</p>
                              <p>Beauty & Health</p>
                              <p>Cell & Accessories</p>
                              <p>Children</p>
                            </div>
                            <div class="column">
                              <p>Fitness & Execise</p>
                              <p>Fashion</p>
                              <p>Jewellry</p>
                              <p>Kitchen & Dining</p>
                              <p>Kitchen & Accessories</p>
                              <p>Outdoor Indoor</p>
                            </div>
                            <div class="column">
                              <p>Office Products</p>
                              <p>Pets</p>
                              <p>Technology</p>
                              <p>Toy & Games</p>
                              <p>Travel Accessories</p>
                              <p>Vitamins</p>
                            </div>
                          </div>
                          <hr class="dropdown-divider">
                          <a href="#" class="dropdown-item">
                            View All Categories
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-item full-width-searchbar">
                  <div class="field has-addons  full-width-searchbar">
                    <div class="control is-expanded">
                      <input class="input is-fullwidth" type="text" placeholder="Search Deals">
                    </div>
                    <div class="control">
                      <a class="button is-clear">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <a class="button is-dark" href="/login/">
                        <span>Login</span>
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-primary" href="/join">
                        <span>Join as Seller</span>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </nav>
      </div>
    </header>
    <script>
    new Vue({
      el: '#header',
      data: function () {
        return {
          showNav: false,
          countries: [
            {name:"USA", image:"../static/images/icons/us.png"},
            {name:"UK", image:"../static/images/icons/gb.png"},
            {name:"Europe", image:"../static/images/icons/eu.png"},
            {name:"Canada", image:"../static/images/icons/ca.png"},
            {name:"Worldwide", image:"../static/images/icons/world.png"},
          ],
          brands:[
            "Mozzbi","IsMart","Minal Marks", "Baxter"
          ]
        }
      },
      components: {
      },
      methods: {
        toggleNav: function (event) {
          var nav = document.getElementById('nav-menu')
          var className = nav.getAttribute('class')
          if (className === 'nav-right nav-menu') {
            nav.className = 'nav-right nav-menu is-active'
          } else {
            nav.className = 'nav-right nav-menu'
          }
        },
        handleScroll () {
          var bannerHeight = jQuery('#top-menu').height()
    
          if (jQuery(window).scrollTop() > bannerHeight) {
            jQuery('#sticky').addClass('is-fixed-top')
          } else {
            jQuery('#sticky').removeClass('is-fixed-top')
          }
        }
      },
      created () {
        window.addEventListener('scroll', this.handleScroll)
      },
      destroyed () {
        window.removeEventListener('scroll', this.handleScroll)
      }
    })
    </script>
  </body>
</html>
 
